%app-width-paddings {
    --left: 1rem;
    --right: 1rem;
    padding-left: var(--left); padding-right: var(--right);

    @include min-width(phone-portrait) {
        --left: 2rem; --right: 2rem;
    }

    @include min-width(tablet-portrait) {
        --left: 3rem; --right: 3rem;
    }
}


