:root {
    --app-max-width: 138rem;

    --c-bg-body: hsl(0 0% 98%);
    --c-text-body: hsl(0 0% 13%);

    --c-scrollbar-track: hsl(0 0% 98%);
    --c-scrollbar-thumb: hsl(0 0% 40%);
    --c-scrollbar-hover: hsl(0 0% 60%);
}


