body {
    scrollbar-width: auto;
    scrollbar-color: var(--c-scrollbar-thumb) var(--c-scrollbar-track);
}

body::-webkit-scrollbar {
    width: 1.6rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--c-scrollbar-thumb);
    border-radius: .8rem;
    border: .4rem solid var(--c-scrollbar-track);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-scrollbar-hover);
}

body::-webkit-scrollbar-track {
    background: var(--c-scrollbar-track);
}


